Connected Services/DPDInfoService/DPDInfoServicesObjEventsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://events.dpdinfoservices.dpd.com.pl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="DPDInfoServicesObjEventsService" targetNamespace="http://events.dpdinfoservices.dpd.com.pl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="https://dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEventsService/DPDInfoServicesObjEvents?xsd=1" namespace="http://events.dpdinfoservices.dpd.com.pl/" />
    </xsd:schema>
  </types>
  <message name="getEventsForCustomerV2">
    <part name="parameters" element="tns:getEventsForCustomerV2" />
  </message>
  <message name="getEventsForCustomerV2Response">
    <part name="parameters" element="tns:getEventsForCustomerV2Response" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <message name="getEventsForWaybillV1">
    <part name="parameters" element="tns:getEventsForWaybillV1" />
  </message>
  <message name="getEventsForWaybillV1Response">
    <part name="parameters" element="tns:getEventsForWaybillV1Response" />
  </message>
  <message name="getEventsForCustomerV1">
    <part name="parameters" element="tns:getEventsForCustomerV1" />
  </message>
  <message name="getEventsForCustomerV1Response">
    <part name="parameters" element="tns:getEventsForCustomerV1Response" />
  </message>
  <message name="markEventsAsProcessedV1">
    <part name="parameters" element="tns:markEventsAsProcessedV1" />
  </message>
  <message name="markEventsAsProcessedV1Response">
    <part name="parameters" element="tns:markEventsAsProcessedV1Response" />
  </message>
  <message name="getEventsForCustomerV3">
    <part name="parameters" element="tns:getEventsForCustomerV3" />
  </message>
  <message name="getEventsForCustomerV3Response">
    <part name="parameters" element="tns:getEventsForCustomerV3Response" />
  </message>
  <message name="getEventsForCustomerV4">
    <part name="parameters" element="tns:getEventsForCustomerV4" />
  </message>
  <message name="getEventsForCustomerV4Response">
    <part name="parameters" element="tns:getEventsForCustomerV4Response" />
  </message>
  <portType name="DPDInfoServicesObjEvents">
    <operation name="getEventsForCustomerV2">
      <input wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV2Request" message="tns:getEventsForCustomerV2" />
      <output wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV2Response" message="tns:getEventsForCustomerV2Response" />
      <fault wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV2/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getEventsForWaybillV1">
      <input wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForWaybillV1Request" message="tns:getEventsForWaybillV1" />
      <output wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForWaybillV1Response" message="tns:getEventsForWaybillV1Response" />
      <fault wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForWaybillV1/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getEventsForCustomerV1">
      <input wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV1Request" message="tns:getEventsForCustomerV1" />
      <output wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV1Response" message="tns:getEventsForCustomerV1Response" />
      <fault wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV1/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="markEventsAsProcessedV1">
      <input wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/markEventsAsProcessedV1Request" message="tns:markEventsAsProcessedV1" />
      <output wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/markEventsAsProcessedV1Response" message="tns:markEventsAsProcessedV1Response" />
      <fault wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/markEventsAsProcessedV1/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getEventsForCustomerV3">
      <input wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV3Request" message="tns:getEventsForCustomerV3" />
      <output wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV3Response" message="tns:getEventsForCustomerV3Response" />
      <fault wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV3/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
    <operation name="getEventsForCustomerV4">
      <input wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV4Request" message="tns:getEventsForCustomerV4" />
      <output wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV4Response" message="tns:getEventsForCustomerV4Response" />
      <fault wsam:Action="http://events.dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEvents/getEventsForCustomerV4/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="DPDInfoServicesObjEventsPortBinding" type="tns:DPDInfoServicesObjEvents">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="getEventsForCustomerV2">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getEventsForWaybillV1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getEventsForCustomerV1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="markEventsAsProcessedV1">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getEventsForCustomerV3">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
    <operation name="getEventsForCustomerV4">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="DPDInfoServicesObjEventsService">
    <port name="DPDInfoServicesObjEventsPort" binding="tns:DPDInfoServicesObjEventsPortBinding">
      <soap:address location="https://dpdinfoservices.dpd.com.pl/DPDInfoServicesObjEventsService/DPDInfoServicesObjEvents" />
    </port>
  </service>
</definitions>